.flex {
	display: flex;
  }
  
  .flex-sb {
	justify-content: space-between;
  }
  .flex-x-center {
	justify-content: center;
  }
  .flex-x-start {
	justify-content: flex-start;
  }
  .flex-x-end {
	justify-content: flex-end;
  }
  .flex-y-center {
	align-items: center;
  }
  .flex-y-start {
	align-items: flex-start;
  }
  .flex-y-end {
	align-items: flex-end;
  }
  .flex-d-column {
	flex-direction: column;
  }
  .flex-wrap {
	flex-wrap: wrap;
  }
  .gap-10 {
	gap: 10px;
  }
  .gap-20 {
	gap: 20px;
  }

  .mt-1 {
	margin-top: 1px;
  }
  //margin 10px
  .mr-1 {
	margin-right: 10px;
  }
  .ml-1 {
	margin-left: 10px;
  }
  .mt-1 {
	margin-top: 10px;
  }
  .mb-1 {
	margin-bottom: 10px;
  }
  //margin 20px
  .mt-2 {
	margin-top: 20px;
  }
  .mb-2 {
	margin-bottom: 20px;
  }
  .ml-2 {
	margin-left: 20px;
  }
  .mr-2 {
	margin-right: 20px;
  }
  //margin 30px
  .mt-3 {
	margin-top: 30px;
  }
  .mb-3 {
	margin-bottom: 30px;
  }
  .ml-3 {
	margin-left: 30px;
  }
  .mr-3 {
	margin-right: 30px;
  }
  //margin 40px
  .mt-4 {
	margin-top: 40px;
  }
  .mb-4 {
	margin-bottom: 40px;
  }
  .ml-4 {
	margin-left: 40px;
  }
  .mr-4 {
	margin-right: 40px;
  }
  //margin 50px
  .mt-5 {
	margin-top: 50px;
  }
  .mb-5 {
	margin-bottom: 50px;
  }
  .ml-5 {
	margin-left: 50px;
  }
  .mr-5 {
	margin-right: 50px;
  }
  //padding 0
  .pt-0 {
	padding-top: 0 !important;
  }
  .pb-0 {
	padding-bottom: 0 !important;
  }
  .pl-0 {
	padding-left: 0 !important;
  }
  .pr-0 {
	padding-right: 0 !important;
  }
  //padding 5px
  .pt-5 {
	padding-top: 5px !important;
  }
  .pb-5 {
	padding-bottom: 5px !important;
  }
  .pr-5 {
	padding-right: 5px !important;
  }
  .pl-5 {
	padding-left: 5px !important;
  }
  //padding 10px
  .p-10 {
	padding: 10px !important;
  }
  .pt-10 {
	padding-top: 10px !important;
  }
  .pb-10 {
	padding-bottom: 10px !important;
  }
  .pr-10 {
	padding-left: 10px !important;
  }
  .pl-10 {
	padding-right: 10px !important;
  }
  //padding 15px
  .pt-15 {
	padding-top: 15px !important;
  }
  .pb-15 {
	padding-bottom: 15px !important;
  }
  .pr-15 {
	padding-left: 15px !important;
  }
  .pl-15 {
	padding-right: 15px !important;
  }
  //padding 20px
  .pt-20 {
	padding-top: 20px !important;
  }
  .pb-20 {
	padding-bottom: 20px !important;
  }
  .pr-20 {
	padding-left: 20px !important;
  }
  .pl-20 {
	padding-right: 20px !important;
  }
  //padding 25px
  .pt-25 {
	padding-top: 25px !important;
  }
  .pb-25 {
	padding-bottom: 25px !important;
  }
  .pr-25 {
	padding-left: 25px !important;
  }
  .pl-25 {
	padding-right: 25px !important;
  }
  //padding 30px
  .pt-30 {
	padding-top: 30px !important;
  }
  .pb-30 {
	padding-bottom: 30px !important;
  }
  .pr-30 {
	padding-left: 30px !important;
  }
  .pl-30 {
	padding-right: 30px !important;
  }
  //padding 35px
  .pt-35 {
	padding-top: 35px !important;
  }
  .pb-35 {
	padding-bottom: 35px !important;
  }
  .pr-35 {
	padding-left: 35px !important;
  }
  .pl-35 {
	padding-right: 35px !important;
  }
  //padding 40px
  .pt-40 {
	padding-top: 40px !important;
  }
  .pb-40 {
	padding-bottom: 40px !important;
  }
  .pr-40 {
	padding-left: 40px !important;
  }
  .pl-40 {
	padding-right: 40px !important;
  }
  //padding 45px
  .pt-45 {
	padding-top: 45px !important;
  }
  .pb-45 {
	padding-bottom: 45px !important;
  }
  .pr-45 {
	padding-left: 45px !important;
  }
  .pl-45 {
	padding-right: 45px !important;
  }
  //padding 50px
  .pt-50 {
	padding-top: 50px !important;
  }
  .pb-50 {
	padding-bottom: 50px !important;
  }
  .pr-50 {
	padding-left: 50px !important;
  }
  .pl-50 {
	padding-right: 50px !important;
  }
  ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 20px;
  }