:root {
	--white: #ffffff;
	--white2: #f9f9f9;
	--black: #000000;
	--background: #e9ecf2;
	--background-second: #f7f7f7;
	--button-bg: #eff7eb;
	--border: #252e5c;
	--success: #3e8469;
	--error: #b35f5c;
	--input-body: #e1e6eb;
	--warning: #eb9a28;
	--main: #567c95;
	--hover: #d3dde5;
	--fon: #e9ecf2;
	--main2: #b3c3d0;
	--text: #252e5c;
	--input-color: #454555;
	--dots-back: #202124;
	--color-placeholder: #abab;
	--active-btn: #252e5c4d;
	--primary: #3e8469;
	--border-radius:8px;
	--hover-light: #f8f8f8;
	--dark: #3c4567;


  }

  