table {
    border-collapse: collapse;
    min-width: 100%;
    thead {
		height: 50px;
      tr {
        th {
			border:1px solid var(--primary);
          color: var(--dark);
          background: var(--hover-light);
          border-bottom: 1px solid var(--input-background);
		  &:first-child{
			width: 20px;
		  }
		  &:last-child{
			width: 100px;
		  }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 8px 14px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: var(--text);
		  border:1px solid var(--primary);
		  text-align: center;
        }
        &:nth-child(2n) {
          td {
            background-color: var(--hover-light);
          }
        }
      }
    }
  }