<script lang="ts" setup>
  import { useRouter } from 'vue-router'
  import { reactive, ref } from 'vue'
  import { LOG_IN } from '../api/index'
  import { useCookies } from 'vue3-cookies'

  const { cookies } = useCookies()

  const router = useRouter()
  const form = reactive({
    login: 'admin',
    password: 'zurnal2023',
    checkbox: false
  })
  cookies.remove('Authorization')
  cookies.remove('factory_id')
  const error = ref(false)
  const passType = ref(false)
  const submitForm = async () => {
    try {
      if (form.login && form.password) {
        const { data } = await LOG_IN({
          data: {
            login: form.login,
            password: form.password
          }
        })
        if (data.token) {
          cookies.set('Authorization', data.token)
          setTimeout(() => {
            router.push('/factories')
          }, 100)
        }
      } else {
        error.value = false
        setTimeout(() => {
          error.value = true
        }, 0)
      }
    } catch (e) {
      console.log(e)
    }
  }
</script>

<template>
  <div class="login flex flex-x-center flex-y-center">
    <form class="login__body" @submit.prevent="submitForm">
      <s-row>
        <s-col cols="12" class="flex flex-x-start"> </s-col>
        <s-col cols="12">
          <s-text-field v-model.trim="form.login" :error="error && !form.login" label="Имя пользователя" />
        </s-col>
        <s-col cols="12">
          <s-text-field
            v-model.trim="form.password"
            :error="error && !form.password"
            label="Пароль"
            :type="passType ? 'text' : 'password'"
            :append-icon="passType ? 'eyeSlash' : 'eye'"
            :clickable-append="true"
            @click:append="passType = !passType"
          />
        </s-col>

        <s-col cols="12">
          <s-button large block type="submit" title="Вход" />
        </s-col>
      </s-row>
    </form>
  </div>
</template>

<style scoped lang="scss">
  .login {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    // .login__body
    &__body {
      background: var(--white);
      padding: 40px 30px;
      width: 440px;
      box-shadow: 0px 4px 20px rgba(224, 224, 224, 0.5);
      border-radius: 8px;
    }
  }
  .logo {
    width: 160px;
  }
</style>
