<script setup lang="ts">
  import { ref, onMounted } from 'vue'
  import PopUp from '@/components/PopUp.vue'
  import { ADD_BRAND, FIND_BRAND } from '../api'

  const emit = defineEmits(['close'])

  const props = defineProps({
    uuid: {
      type: String,
      default: ''
    }
  })

  const error = ref(false)

  const main = ref<any>({
    path: '',
    name: '',
    uuid: ''
  })

  const save = async () => {
    if (!main.value.name) {
      error.value = false
      setTimeout(() => {
        error.value = true
      }, 0)
    } else {
      try {
        const { status } = await ADD_BRAND({ data: main.value })
        if (status) {
          emit('close')
        }
      } catch (error) {
        console.log(error)
      }
    }
  }

  const find = async () => {
    try {
      const { data, status } = await FIND_BRAND({ data: { uuid: props.uuid } })
      if (status) {
        console.log(data)

        Object.keys(main.value).forEach((key) => (main.value[key] = data[key]))
      }
    } catch (error) {
      console.log(error)
    }
  }

  onMounted(() => {
    if (props.uuid) {
      find()
    }
  })
</script>
<template>
  <pop-up @close="emit('close')" width="800" name="Добавить бренд">
    <s-row gap="10">
      <s-col cols="3" rows="2" style="height: 200px">
        <s-avatar v-model="main.path"></s-avatar>
      </s-col>
      <s-col cols="9">
        <s-text-field v-model="main.name" :error="error" label="Имя Бренда"></s-text-field>
      </s-col>
      <s-col cols="12">
        <div class="flex flex-x-end gap-20">
          <s-button @click="emit('close')" title="Отмена"></s-button>
          <s-button @click="save" title="Добавить"></s-button>
        </div>
      </s-col>
    </s-row>
  </pop-up>
</template>

<style scoped></style>
