<script lang="ts" setup>
  import { ref } from 'vue'

  const items = ref<any>([
    {
      id: 1,
      name: 'Единицы измерения'
    }
  ])
  const selectedItem = ref({
    id: 1,
    name: 'Единицы измерения'
  })
</script>

<template>
  <div class="page__wrapper">
    <s-tabs :items="items" :selectedItem="selectedItem"> </s-tabs>
    <router-view></router-view>
  </div>
</template>

<style scoped lang="scss">
  .page__wrapper {
    height: 100%;
    overflow: auto;
    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      margin-bottom: 40px;
    }
  }
  .image {
    width: 120px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .page__wrapper-table {
  }
</style>
