<script lang="ts" setup>
  import { ref } from 'vue'
  import PopUpBrand from '../components/PopUpBrand.vue'
  import { FETCH_UNIT, REMOVE_UNIT } from '../api'

  const isPopUp = ref(false)
  const items = ref<any>([])

  const uuid = ref('')

  const close = () => {
    isPopUp.value = false
    uuid.value = ''
    fetch()
  }

  const fetch = async () => {
    try {
      const { data, status } = await FETCH_UNIT()
      if (status) {
        items.value = data
      }
    } catch (error) {}
  }
  fetch()

  const remove = async (uuid: string) => {
    try {
      const { status } = await REMOVE_UNIT({ data: { uuid: uuid } })
      if (status) {
        fetch()
      }
    } catch (error) {
      console.log(error)
    }
  }

  const update = (id: string) => {
    isPopUp.value = true
    uuid.value = id
  }
</script>

<template>
  <div class="page__wrapper-header pt-10">
    <div>
      <s-button @click="isPopUp = true" title="Добавить"></s-button>
    </div>
  </div>
  <div class="page__wrapper-table">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>Имя ЕДИНИЦЫ ИЗМЕРЕНИЯ</th>
          <th>ЕДИНИЦЫ</th>
          <th>Настройки</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="item.uuid">
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.rate }}</td>
          <td>
            <div class="flex gap-10 flex-x-center">
              <s-button @click="update(item.uuid)" onlyIcon prevIcon="edit"></s-button>
              <s-button @click="remove(item.uuid)" onlyIcon prevIcon="delete"></s-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <PopUpBrand v-if="isPopUp" @close="close" :uuid="uuid" />
</template>

<style scoped lang="scss">
  .page__wrapper {
    height: 100%;
    overflow: auto;
    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      margin-bottom: 40px;
    }
  }
  .image {
    width: 120px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .page__wrapper-table {
  }
</style>
