<script setup lang="ts">
  import { ref } from 'vue'
  import { useBase } from '@/stores/base'
  import { UPLOAD_FILE } from '@/api/file.api'
  import SIcon from '@/UI/Icon'

  const fileUrl = useBase().fileURL

  const emit = defineEmits(['update:modelValue'])

  const props = defineProps({
    accept: {
      type: String,
      default: () => '.jpg, .png, .jpeg'
    },
    modelValue: {
      type: String,
      default: () => ''
    }
  })
  const file = ref<any>(null)

  const progress = ref<number>(0)

  const changeFile = async (event: any) => {
    const onUploadProgress = (progressEvent: any) => {
      progress.value = Math.round((progressEvent.loaded * 100) / progressEvent.total)
    }

    try {
      const { data, status } = await UPLOAD_FILE({ data: { file: event.target.files[0] }, onUploadProgress })
      if (status) {
        emit('update:modelValue', data)
      }
    } catch (error) {
      console.log(error)
    }
  }
</script>

<template>
  <div class="add-photo-block">
    <div class="add-photo-block-icon">
      <s-icon name="addPhoto"></s-icon>
      <input ref="file" type="file" @change="changeFile" :accept="props.accept" />
      <img v-if="props.modelValue" :src="`${fileUrl}${props.modelValue}`" alt="" />
    </div>
    <p>Add photo</p>
    <div class="image__progress">{{ progress }}%-100%</div>
  </div>
</template>

<style lang="scss" scoped>
  .add-photo-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 32.5px 46px;
    background-color: #f5f6fa;
    border-radius: 2px;
    height: 100%;
    text-align: center;
    border: 1px dashed rgba(0, 0, 0, 0.5);
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: contain;
      -o-object-position: center;
      object-position: center;
    }
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      opacity: 0;
    }
  }
  .image__progress {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
    text-align: end;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
  }
  .image__delete {
    position: absolute;
    bottom: -30px;
  }
</style>
