<script setup lang="ts">
  import SIcon from '@/UI/Icon'

  import { useDropdown } from '@/composables/dropdown'
  import { computed, ref } from 'vue'
  const { dropdownBody, dropdownMenu, showDropdown, showTop, closeDropdown } = useDropdown()
  const props = defineProps({
    items: {
      type: Array,
      default: () => []
    },
    modelValue: {
      type: [Object, String, Number],
      default: null
    },
    placeholder: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: null
    },
    // selectedItem: {
    //   type: [Object, String],
    //   default: null
    // },
    disabled: {
      type: Boolean,
      default: false
    },
    more: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: 'menuDown'
    },
    depressed: {
      type: Boolean,
      default: false
    },
    empty: {
      type: Boolean,
      default: false
    },
    menuWidth: {
      type: String,
      default: null
    },
    checkable: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    error: {
      type: Boolean,
      default: false
    },
    searchable: {
      type: Boolean,
      default: false
    },
    countable: {
      type: Boolean,
      default: false
    },
    apppendButtonIcon: {
      type: String,
      default: null
    },
    appendButtonText: {
      type: String,
      default: null
    },
    onlyread: {
      type: Boolean,
      default: false
    },
    leftPozition: {
      type: Boolean,
      default: false
    },
    table: {
      type: Boolean,
      default: false
    }
  })
  const emit = defineEmits(['update:modelValue', 'selectItem', 'appendButtonClick', 'checkedItem', 'btnClick'])
  const search = ref('')
  const selectItem = (item: any) => {
    !props.checkable && closeDropdown()
    search.value = ''
    emit('update:modelValue', item.uuid)
  }

  //   const update = (newValue: any) => {
  //     emit('update:modelValue', newValue)
  //   }

  const openDropdown = () => {
    if (!props.readonly) {
      showDropdown.value = true
      const bodyPosition = dropdownBody.value?.getBoundingClientRect()

      const dropdownItemsHeight = searchedItems.value.length > 7 ? 7 * 44 : searchedItems.value.length * 44
      const searchableHeight = props.searchable ? 64 : 0
      const addButtonHeight = props.appendButtonText ? 30 : 0
      const dropdownHeight = dropdownItemsHeight + searchableHeight + addButtonHeight
      const bottomCount = window.innerHeight - (bodyPosition?.y || 0)
      showTop.value = bottomCount < dropdownHeight
    }
  }
  const classes = computed(() => [
    'dropdown',
    {
      'dropdown--more': props.more,
      'dropdown--disabled': props.disabled,
      'dropdown--active': showDropdown.value,
      'dropdown--readonly': props.readonly,
      'dropdown--error': props.error,
      'dropdown--empty': props.empty,
      'dropdown--top': showTop.value,
      'dropdown--onlyread': props.onlyread,
      'dropdown__menu-left': props.leftPozition,
      'dropdown--table': props.table
    }
  ])
  const searchedItems = computed<any>(() => {
    return !search.value.length ? props.items : props.items?.filter((item: any) => item.name.toLowerCase().includes(search.value.toLowerCase())) || []
  })
  const checkedCount = computed(() => {
    return props.items.filter((item: any) => item.checked).length
  })
  const appendClick = () => {
    emit('appendButtonClick')
    //  closeDropdown()
  }

  const selectedItem = computed<string | null>(() => {
    return props.items
      ?.filter((item: any) => item.uuid === props.modelValue)
      .map((elem: any) => elem.name)
      .join('')
  })
</script>

<template>
  <div :class="classes" ref="dropdownBody">
    <div v-if="props.label" class="dropdown__label">
      {{ props.label }}
    </div>
    <div @click="!showDropdown ? openDropdown() : closeDropdown()" class="dropdown__button">
      <p v-if="selectedItem && !props.empty">
        {{ selectedItem }}
      </p>
      <p v-else-if="!props.empty" class="dropdown__placeholder">
        {{ props.placeholder }}
      </p>
      <div v-if="countable && checkedCount" class="dropdown__count">
        {{ checkedCount }}
      </div>
      <s-icon name="chevronDown" />
    </div>
    <div
      v-show="showDropdown"
      class="dropdown__menu"
      :style="`width: ${props.menuWidth === 'auto' ? 'max-content' : props.menuWidth + 'px'}; `"
      ref="dropdownMenu"
    >
      <div v-if="showDropdown" class="dropdown__list">
        <div class="dropdown__items">
          <div v-if="props.searchable" class="dropdown__search">
            <s-text-field v-model="search" placeholder="Search" prepend-icon="magnify" large />
          </div>
          <div v-for="item in searchedItems" :key="item?.uuid" @click.stop="selectItem(item)" :class="['dropdown__item']">
            <p>{{ item?.name }}</p>
          </div>
          <div v-if="props.appendButtonText" class="dropdown__append-button" @click.stop="appendClick">
            <p>{{ props.appendButtonText }}</p>
            <s-icon :icon="props.apppendButtonIcon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .dropdown {
    width: 100%;
    position: relative;
    // .dropdown__label
    &__label {
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: var(--primary-600);
      padding-bottom: 6px;
    }
    // .dropdown__button
    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid var(--hover);
      border-radius: 4px;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      height: 34px;
      padding: 0 12px;
      letter-spacing: 0.15px;
      background-color: transparent;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.135px;
      cursor: pointer;
      color: var(--secondary);
      user-select: none;
      p {
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-break: break-all;
        flex: 1 1 auto;
      }
      span {
        transition: 0.2s;
        display: flex;
        align-items: center;
      }
    }
    // .dropdown__count
    &__count {
      border-radius: 12px;
      font-size: 14px;
      line-height: 24px;
      min-width: 24px;
      background-color: var(--primary);
      color: var(--white);
      padding: 0 4px;
      margin-right: 5px;
      text-align: center;
    }
    // .dropdown__placeholder
    &__placeholder {
      color: var(--gray-word);
    }
    // .dropdown__menu
    &__menu {
      position: absolute;
      top: calc(100% + 4px);
      right: 0;
      background-color: var(--white);
      width: 100%;
      box-shadow: 0px 4px 30px rgba(170, 169, 184, 0.4);
      border-radius: 4px;
      z-index: 3;
      &.active {
        top: auto;
        bottom: calc(100% + 4px);
      }
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
    }
    // .dropdown__list
    &__list {
      width: 100%;
      overflow-y: auto !important;
      display: flex;
      max-height: 214px;
      border-radius: 4px;
      border: 1px solid var(--border-color);
    }
    // .dropdown__items
    &__items {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 4px;
    }
    // .dropdown__search
    &__search {
      padding: 10px;
      background: var(--white-opacity);
    }
    // .dropdown__item
    &__item {
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.135px;
      color: var(--black);
      background: var(--white-opacity);
      padding: 10px;
      cursor: pointer;
      pointer-events: all;
      display: flex;
      align-items: center;
      &:hover {
        background: var(--background-second);
      }
    }
    // .dropdown__append-button
    &__append-button {
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.135px;
      color: var(--white);
      padding: 10px;
      cursor: pointer;
      pointer-events: all;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primary);
      span + p {
        padding-left: 4px;
      }
    }
    // .dropdown__item-prevent-icon
    &__item-prevent-icon {
      margin-right: 8px;
      color: var(--secondary);
      display: flex;
      align-items: center;
    }
    // .dropdown__item-append-icon
    &__item-append-icon {
      margin-left: auto;
      color: var(--secondary);
      &.dropdown__item-append-icon--checked {
        color: var(--primary);
      }
    }
    // .dropdown__item--active
    &__item--active {
      background: var(--primary-fourth);
    }
    &.dropdown__menu-left {
      .dropdown__menu {
        left: 0;
      }
    }
    // .dropdown__item--disabled

    &__item--disabled {
      background-color: var(--secondary-200) !important;
      cursor: not-allowed;
      pointer-events: all !important;
      p {
        color: var(--secondary-400);
      }
      .dropdown__item-prevent-icon {
        color: var(--secondary-400);
      }
      .dropdown__item-append-icon {
        color: var(--secondary-400);
      }
    }

    &--active {
      .dropdown__button {
        border-radius: 4px 4px 0 0;
        border-color: var(--primary);
        span {
          transform: rotate(180deg);
        }
      }
      .dropdown__menu {
        display: flex;
        visibility: visible;
        opacity: 1;
      }
    }
    // .dropdown--empty
    &--empty {
      width: fit-content;
      .dropdown__button {
        border: none;
        padding: 0 10px;
        span {
          transform: rotate(0);
        }
      }
    }

    &--more {
      .dropdown__list {
        max-height: 100% !important;
      }
      .dropdown__item {
        transition: background-color 0.3s ease 0s;
        &:hover {
          background-color: var(--table-hover);
        }
      }
    }

    // .dropdown--disabled
    &--disabled {
      .dropdown__button {
        color: var(--secondary-400);
        background-color: var(--secondary-200);
        border-color: transparent !important;
        cursor: not-allowed;
        pointer-events: none !important;
        border-radius: 4px;
        span {
          transform: rotate(0);
        }
      }
      .dropdown__menu {
        display: none !important;
      }
    }

    // .dropdown--error
    &--error {
      animation: 0.2s invalid forwards;
      animation-fill-mode: initial;
      .dropdown__label {
        color: var(--red);
      }
      .dropdown__button {
        border-color: var(--red) !important;
        border-radius: 4px;
        span {
          color: var(--red);
        }
      }
    }
    // .dropdown--readonly
    &--readonly {
      .dropdown__button {
        color: var(--secondary) !important;
        border-color: #c4c4c4 !important;
        background-color: transparent !important;
        cursor: default;
        border-radius: 4px;
        font-weight: 500;
        span {
          opacity: 0;
          visibility: hidden;
        }
      }
      .dropdown__menu {
        display: none;
      }
    }
    // .dropdown--onlyread
    &--onlyread {
      .dropdown__button {
        cursor: default;
        pointer-events: none;
      }
      .dropdown__menu {
        display: none;
      }
    }
    // .dropdown--top
    &--top {
      .dropdown__button {
        border-radius: 0px 0px 4px 4px;
      }
      .dropdown__menu {
        display: flex;
        bottom: calc(100% - 15px);
        top: auto;
        border-radius: 4px 4px 0 0;
      }
    }
    &--table {
      .dropdown__button {
        color: var(--secondary) !important;
        border-color: #c4c4c4 !important;
        background-color: transparent !important;
        cursor: default;
        border-radius: 4px;
        font-weight: 500;
        padding: 0;
        border: none !important;
      }
      .dropdown__placeholder {
        font-size: 12px;
        color: var(--primary-600);
      }
      .dropdown__item {
        font-size: 12px;
        padding: 2px 5px;
      }
      .dropdown__search {
        padding: 2px 5px;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  @keyframes invalid {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0px);
    }
  }
</style>
