<script setup>
  const props = defineProps({
    items: {
      type: Array,
      default: () => []
    },
    selectedItem: {
      type: Object,
      default: null
    }
  })
  const emit = defineEmits(['selectTab'])
  const selectTab = (item) => {
    emit('selectTab', item)
  }
</script>
<template>
  <div class="tabs">
    <div class="tabs__wrapper">
      <template v-for="(item, index) in props.items" :key="index">
        <div class="tabs__item">
          <button
            @click="selectTab(item)"
            :class="[
              'tabs__button',
              {
                'tabs__button--active': item.id === selectedItem?.id
              }
            ]"
          >
            {{ item.name }}
            <span v-if="item.count" class="tabs__count notification-count">{{ item.count }}</span>
          </button>
        </div>
      </template>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .tabs {
    overflow-x: auto;
    border-bottom: 1px solid var(--primary);
    // .tabs__wrapper
    &__wrapper {
      display: flex;
      width: max-content;
    }
    // .tabs__item
    &__item {
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
    // .tabs__button
    &__button {
      padding: 10px 8px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: var(--secondary);
      background-color: transparent;
      width: max-content;
      height: 100%;
      display: flex;
      align-items: center;
      &--active {
        background-color: var(--white);
        color: var(--primary);
        border-radius: 4px 4px 0 0;
      }
    }
    // .tabs__count
    &__count {
      margin-left: 6px;
    }
  }
</style>
