<script lang="ts" setup>
  import { ref } from 'vue'
  import Icon from '@/UI/Icon'
  import { useCookies } from 'vue3-cookies'
  import { useRouter } from 'vue-router'
  import { FETCH_FACTORY } from '../api'

  const { cookies } = useCookies()
  const router = useRouter()

  const factories = ref<any>([])
  cookies.remove('factory_id')
  const selectFactory = (id: string) => {
    cookies.set('factory_id', id)
    router.push('/')
  }

  const fetchFactories = async (): Promise<void> => {
    try {
      const { data, status } = await FETCH_FACTORY()
      if (!status) return
      factories.value = data
    } catch (error) {
      console.log(error)
    }
  }
  fetchFactories()
</script>

<template>
  <div class="factory flex flex-x-center flex-y-center">
    <div class="factory__body">
      <h2>Выберите завод</h2>
      <div class="factory__body-items">
        <template v-for="factory in factories" :key="factory.uuid">
          <div @click="selectFactory(factory.uuid)" class="factory__body-item">
            <icon name="gps"></icon>
            <p>{{ factory.name }}</p>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .factory {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    // .login__body
    &__body {
      h2 {
        font-size: 2.125rem;
        line-height: 1.75rem;
        font-weight: 500;
        padding-bottom: 40px;
      }
      &-items {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &-item {
        background: var(--white);
        width: 100%;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 10px;
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        transition: 0.3s ease;

        cursor: pointer;
        &:hover {
          background: #e0dde3;
          transition: 0.3s ease;
        }
        p {
          font-size: 1rem;
          margin-left: 5px;
        }
      }
    }
  }
</style>
