<script lang="ts" setup>
  import { ref, watch } from 'vue'
  import PopUpSection from '../components/PopUpSection.vue'
  import { FETCH_PARTS, REMOVE_PART } from '../api'
  import * as XLSX from 'xlsx'

  const isPopUp = ref(false)
  const items = ref<any>([])
  const limit = ref(8)
  const page = ref(1)
  const pageCount = ref(0)
  const search = ref('')
  const uuid = ref('')

  const close = () => {
    isPopUp.value = false
    uuid.value = ''
    fetch()
  }

  const fetch = async () => {
    try {
      const { data, status } = await FETCH_PARTS({ data: { limit: limit.value, search: search.value, page: page.value } })
      if (status) {
        items.value = data.data
        pageCount.value = Math.ceil(data.count / limit.value)
      }
    } catch (error) {}
  }
  fetch()

  const remove = async (uuid: string) => {
    try {
      const { status } = await REMOVE_PART({ data: { uuid: uuid } })
      if (status) {
        fetch()
      }
    } catch (error) {
      console.log(error)
    }
  }

  const update = (id: string) => {
    isPopUp.value = true
    uuid.value = id
  }

  watch(search, (val) => {
    search.value = val
    fetch()
  })

  const clickPage = (val: any) => {
    page.value = val
    fetch()
  }

  const htmlTableToExcel = () => {
    var data = document.getElementById('tblToExcl')
    var excelFile = XLSX.utils.table_to_book(data, { sheet: 'sheet1' })

    XLSX.write(excelFile, { bookType: 'xlsx', bookSST: true, type: 'base64' })
    XLSX.writeFile(excelFile, 'Report.' + 'xlsx')
  }
</script>

<template>
  <div class="page__wrapper">
    <div class="page__wrapper-header">
      <div>
        <s-button @click="htmlTableToExcel" title="Excel"></s-button>
      </div>
      <div>
        <s-button @click="isPopUp = true" title="Добавить"></s-button>
      </div>
      <div>
        <s-text-field v-model="search" placeholder="Поиск по базе"></s-text-field>
      </div>
    </div>
    <div class="page__wrapper-table">
      <table id="tblToExcl">
        <thead>
          <tr>
            <th>№</th>
            <th>Имя бренда</th>
            <th>Обшая сумма</th>
            <th>Расходы</th>
            <th>Настройки</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="item.uuid">
            <td>{{ index + 1 + (page - 1) * limit }}</td>

            <td>{{ item.brName }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.collection?.filter((item:any)=>item).map((elem:any)=>elem.name).join(', ') }}</td>
            <td>
              <div class="flex gap-10 flex-x-center">
                <s-button @click="update(item.uuid)" onlyIcon prevIcon="edit"></s-button>
                <s-button @click="remove(item.uuid)" onlyIcon prevIcon="delete"></s-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pt-10">
    <s-pagination :pageCount="pageCount" v-model="page" @clickPage="clickPage"></s-pagination>
  </div>
  <PopUpSection v-if="isPopUp" @close="close" :uuid="uuid" />
</template>

<style scoped lang="scss">
  .page__wrapper {
    height: 100%;
    overflow: auto;
    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      margin-bottom: 40px;
    }
  }
  .image {
    width: 120px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .page__wrapper-table {
  }
</style>
