<script setup lang="ts">
  import { ref, onMounted } from 'vue'
  import PopUp from '@/components/PopUp.vue'
  import { ADD_UNIT, FIND_UNIT } from '../api'

  const emit = defineEmits(['close'])

  const props = defineProps({
    uuid: {
      type: String,
      default: ''
    }
  })

  const error = ref(false)

  const main = ref<any>({
    rate: '',
    name: '',
    uuid: ''
  })

  const save = async () => {
    if (!main.value.name || !main.value.rate) {
      error.value = false
      setTimeout(() => {
        error.value = true
      }, 0)
    } else {
      try {
        const { status } = await ADD_UNIT({ data: main.value })
        if (status) {
          emit('close')
        }
      } catch (error) {
        console.log(error)
      }
    }
  }

  const find = async () => {
    try {
      const { data, status } = await FIND_UNIT({ data: { uuid: props.uuid } })
      if (status) {
        Object.keys(main.value).forEach((key) => (main.value[key] = data[key]))
      }
    } catch (error) {
      console.log(error)
    }
  }

  onMounted(() => {
    if (props.uuid) {
      find()
    }
  })
</script>
<template>
  <pop-up @close="emit('close')" width="800" name="Добавить ЕДИНИЦУ ИЗМЕРЕНИЯ">
    <s-row gap="10">
      <s-col cols="6">
        <s-text-field v-model="main.name" :error="error" label="Имя ЕДИНИЦЫ ИЗМЕРЕНИЯ"></s-text-field>
      </s-col>
      <s-col cols="6">
        <s-text-field v-model="main.rate" :error="error" label="ЕДИНИЦЫ "></s-text-field>
      </s-col>
      <s-col cols="12">
        <div class="flex flex-x-end gap-20">
          <s-button @click="emit('close')" title="Отмена"></s-button>
          <s-button @click="save" title="Добавить"></s-button>
        </div>
      </s-col>
    </s-row>
  </pop-up>
</template>

<style scoped></style>
