<script lang="ts" setup>
  import SIcon from '@/UI/Icon'
  import { ref, onMounted, onBeforeUnmount } from 'vue'

  const props = defineProps({
    name: {
      type: String,
      default: ''
    },
    width: {
      type: String,
      default: null
    }
  })
  const emit = defineEmits(['close'])

  const scrollable = ref<any>(false)
  const popUp = ref<any>(null)
  const resizeBody = ref<any>(null)
  const resizePopUp = ref<any>(null)

  onMounted(() => {
    resizeBody.value = new ResizeObserver((entries) => {
      scrollable.value = entries[0].target.clientHeight <= popUp.value?.scrollHeight
    })
    resizeBody.value.observe(document.body)
    resizePopUp.value = new ResizeObserver((entries) => {
      scrollable.value = document.body.clientHeight <= entries[0].target.clientHeight
    })
    resizePopUp.value.observe(popUp.value)
  })
  onBeforeUnmount(() => {
    resizeBody.value.unobserve(document.body)
    resizePopUp.value.observe(popUp.value)
  })
</script>

<template>
  <div class="pop-up">
    <div class="pop-up__wrapper" :style="`width: ${props.width ? `${props.width}px` : null}`" ref="popUp">
      <div class="pop-up__head">
        <div class="pop-up__name">{{ props.name }}</div>
        <button @click.stop="emit('close')" class="pop-up__close">
          <s-icon name="popUpClose" />
        </button>
      </div>
      <div
        :class="[
          'pop-up__body',
          {
            _scrollable: scrollable
          }
        ]"
      >
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .pop-up {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    // .pop-up__wrapper
    &__wrapper {
      max-height: 100%;
      padding: 20px;
    }
    // .pop-up__head
    &__head {
      background: var(--primary);
      border-radius: 4px 4px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
    }
    // .pop-up__name
    &__name {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: var(--white);
    }
    // .pop-up__close
    &__close {
      background-color: transparent;
      border-radius: 4px;
      color: #fff;
      padding: 10px;
    }
    // .pop-up__body
    &__body {
      background: var(--white);
      border-radius: 0px 0px 4px 4px;
      padding: 20px;
      &._scrollable {
        max-height: calc(100vh - 104px);
        overflow: overlay;
      }
    }
  }
</style>
