<script setup lang="ts">
  import { ref } from 'vue'
  import Icon from '@/UI/Icon'
  import menuList from './menu'
  import { useRouter } from 'vue-router'

  const router = useRouter()

  const props = defineProps({
    mini: { type: Boolean, default: false }
  })

  const menu = ref(menuList)
</script>

<template>
  <div :class="['sidebar', '__box', { _mini: props.mini }]">
    <div class="sidebar__box">
      <div class="sidebar__header">
        <div class="sidebar__logo">
          <icon name="logo" />
        </div>
      </div>
      <div class="sidebar__menu">
        <div class="menu">
          <div class="menu__body">
            <ul class="menu__list">
              <template v-for="menuItem in menu" :key="menuItem.id">
                <li class="menu__item">
                  <router-link :to="menuItem.link" exact class="menu__link">
                    <icon :name="menuItem.icon" />
                    <p>{{ menuItem.title }}</p>
                  </router-link>
                </li>
              </template>
            </ul>
            <div class="menu__logout">
              <div @click="router.push('/login')" class="menu__link">
                <icon name="logout"></icon>
                <p>Logout</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .sidebar {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    // .sidebar__box
    &__box {
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
    // .sidebar__logo
    &__logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      background-color: var(--hover-light);
    }
    // .sidebar__header
    &__header {
      margin-bottom: 25px;
    }
    // .sidebar__logo
    &__logo {
    }
    // .sidebar__menu
    &__menu {
    }
    // .sidebar__log-out
    &__log-out {
      margin-top: auto;
    }
    &._mini {
      .sidebar__logo {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        &:deep() {
          span {
            width: 80px;
            svg {
              width: 100%;
            }
          }
        }
      }
      .menu__link {
        p {
          display: none;
        }
      }
      .menu__sub-list {
        a {
          padding-left: 0;
        }
      }
    }
  }
  .menu {
    // .menu__body
    &__body {
    }
    // .menu__list
    &__list {
    }
    // .menu__item
    &__item {
      &:not(:first-child) {
        margin-top: 6px;
      }
    }
    // .menu__link
    &__link {
      display: flex;
      align-items: center;
      padding: 16px;
      position: relative;
      border-radius: var(--border-radius);
      color: var(--dark);
      :deep(.icon) {
        width: 16px;
        height: 16px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      p {
        padding-left: 10px;
      }
      &:hover,
      &.router-link-active,
      &.router-link-exact-active {
        background-color: var(--hover-light);
      }

      &.router-link-active,
      &.router-link-exact-active {
        background-color: var(--hover-light);
        & + .menu__sub {
          display: block;
        }
      }
    }

    // .menu__sub
    &__sub {
      background-color: var(--hover-light);
      padding-top: 10px;
      margin-top: -10px;
      display: none;
    }
    // .menu__sub-list
    &__sub-list {
      padding: 0 16px 16px 16px;
    }
    // .menu__sub-item
    &__sub-item {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    // .menu__sub-link
    &__sub-link {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--dark);
      padding-left: 40px;
      display: block;
      display: flex;
      align-items: center;
      &.router-link-active,
      &.router-link-exact-active,
      &:hover {
        color: var(--primary);
      }
      &::before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: var(--dark);
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
  .menu__logout {
    margin-top: 50px;
  }
</style>
