<script setup lang="ts">
  import { ref, onMounted, watchEffect } from 'vue'
  import Icon from '@/UI/Icon'

  import PopUp from '@/components/PopUp.vue'
  import { ADD_PART, FIND_PART, FETCH_BRAND, FETCH_UNIT } from '../api'

  const emit = defineEmits(['close'])

  const props = defineProps({
    uuid: {
      type: String,
      default: ''
    }
  })

  const error = ref(false)
  const brands = ref<any>([])
  const units = ref<any>([])
  const main = ref<any>({
    price: '',
    content: '',
    brId: '',
    collection: [],
    uuid: ''
  })

  const fetch = async () => {
    try {
      const { data, status } = await FETCH_BRAND({ data: { limit: 1000000, search: '', page: 1 } })
      if (status) {
        brands.value = data.data
      }
    } catch (error) {}
  }
  fetch()

  const fetchUnit = async () => {
    try {
      const { data, status } = await FETCH_UNIT()
      if (status) {
        units.value = data
      }
    } catch (error) {}
  }
  fetchUnit()

  const save = async () => {
    if (!main.value.price) {
      error.value = false
      setTimeout(() => {
        error.value = true
      }, 0)
    } else {
      try {
        const { status } = await ADD_PART({ data: main.value })
        if (status) {
          emit('close')
        }
      } catch (error) {
        console.log(error)
      }
    }
  }

  const find = async () => {
    try {
      const { data, status } = await FIND_PART({ data: { uuid: props.uuid } })
      if (status) {
        Object.keys(main.value).forEach((key) => (main.value[key] = data[key]))
      }
    } catch (error) {
      console.log(error)
    }
  }

  onMounted(() => {
    if (props.uuid) {
      find()
    }
  })

  const addNewObj = () => {
    main.value.collection.unshift({
      name: '',
      price: 0,
      count: 0,
      unit: ''
    })
  }

  const remove = (index: any) => {
    main.value.collection.splice(index, 1)
  }

  watchEffect(() => {
    main.value.price = main.value.collection?.reduce((sum: any, item: any) => (sum += Number(item.price) * Number(item.count)), 0) || 0
  })
</script>
<template>
  <pop-up @close="emit('close')" width="1000" :name="props.uuid ? 'Сохранить раздел' : 'Добавить раздел'">
    <s-row gap="10">
      <s-col cols="10">
        <s-dropdown v-model="main.brId" label="Бренд" :items="brands"></s-dropdown>
      </s-col>
      <s-col cols="2">
        <s-text-field v-model="main.price" type="number" disabled label="Обшая сумма"></s-text-field>
      </s-col>
      <s-col cols="12">
        <div @click="addNewObj" class="flex gap-10 flex-y-center">
          <icon name="plusColor"></icon>
          <p>Добавить расходы</p>
        </div>
      </s-col>
      <template v-for="(item, index) in main.collection" :key="index">
        <s-col cols="3">
          <s-text-field v-model="item.name" :error="error" label="Название"></s-text-field>
        </s-col>
        <s-col cols="2">
          <s-text-field v-model="item.count" type="number" :error="error" label="Количество"></s-text-field>
        </s-col>
        <s-col cols="2">
          <s-text-field v-model="item.price" type="number" :error="error" label="Цена"></s-text-field>
        </s-col>
        <s-col cols="2">
          <s-text-field :value="item.price * item.count" type="number" disabled label="Сумма"></s-text-field>
        </s-col>
        <s-col cols="2">
          <s-dropdown v-model="item.unit" :items="units" :error="error" label="Единицы измерения"></s-dropdown>
        </s-col>
        <s-col cols="1">
          <div><s-button @click="remove(index)" onlyIcon prevIcon="delete"></s-button></div>
        </s-col>
      </template>
      <s-col cols="12">
        <s-text-area label="Описание" v-model="main.content"></s-text-area>
      </s-col>
      <s-col cols="12">
        <div class="flex flex-x-end gap-20">
          <s-button @click="emit('close')" title="Отмена"></s-button>
          <s-button @click="save" :title="props.uuid ? 'Сохранить' : 'Добавить'"></s-button>
        </div>
      </s-col>
    </s-row>
  </pop-up>
</template>

<style scoped></style>
