<script lang="ts" setup>
  import Sidebar from '@/components/sidebar'
  //   import Footer from '@/components/footer'
  //   import Header from '@/components/header'
</script>

<template>
  <div class="main">
    <div class="main__sidebar">
      <Sidebar />
    </div>
    <div class="main__wrapper">
      <!-- <Header /> -->
      <div class="main__body">
        <div class="main__body-card">
          <router-view></router-view>
        </div>
      </div>
      <!-- <Footer /> -->
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .main {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    // .main__sidebar

    &__sidebar {
      width: 220px;
      height: 100%;
    }

    // .main__wrapper

    &__wrapper {
      width: calc(100% - 220px);
      height: 100vh;
    }

    // .main__body

    &__body {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 12px;
      height: calc(100% - 30px);
    }

    &__body-card {
      height: 100%;
    }
  }
</style>
